<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>{% block title %}{% endblock %}Mitra Barbearia</title>
</head>

<body>

{% block header %}


 <nav class="z-depth-0 grey lighten-3 nav-wrapper">
     <div class="container">
        <div class="grey lighten-3 nav-wrapper">
          <a href="/" class="grey-text text-darken-3 brand-logo">Mitra Barbearia</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="grey-text text-darken-3" href="marcar_horario.html">Marcar Horário</a></li>
            <li><a class="grey-text text-darken-3" href="login.html">Login</a></li>
            <li><a class="grey-text text-darken-3" href="cadastrar.html">Cadastrar</a></li>
          </ul>
        </div>
     </div>
 </nav>

{% endblock %}

{% block content %}
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script !src="">
    $(document).ready(function(){
        $('.slider').slider({
        indicators: false,
        durations: 300,
        interval: 5000,
        });
    });
</script>

</body>

</html>